# compiled python files
*.pyc
# egg info folder created by `python setup.py develop`
pygad.egg-info

# compiled C code
*.o
*.so

# iPython Notebook checkpoints
.ipynb_checkpoints

# weird MacOS files
.DS_store

# images
*.png
*.jpg

# some directories and downloads you might have from the bitbucket side
bc03
iontbls
CoolingTables
snaps
wiki
QuickStart*

