# compiled python files
*.pyc
# egg info folder created by `python setup.py develop`
pygad.egg-info

# iPython Notebook checkpoints
.ipynb_checkpoints

# weird MacOS files
.DS_store

# some directories and downloads you might have from the bitbucket side
bc03
snaps
wiki
QuickStart.ipynb

